<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div *ngIf="!isDisplay">
  <h2>{{questions[currentquestion].question}} </h2>
  <!-- <div ng-repeat="val in questions[currentquestion].options"> -->
  <p *ngFor="let opt of questions[currentquestion].options">
    <input type="radio" [(ngModel)]="questions[currentquestion].useranswer" [value]="opt.sortorder" name="q1">{{opt.value}}
  </p>
  <!-- </div> -->
  <br>
  <input type="button" (click)="checkanswer()" value="Submit">
</div>
<div>
  Correct Answers : {{numberofcorrectanswer}}
</div>
<div *ngIf="isDisplay">
  <table>

    <div *ngFor="let item of questions">
      <tr>
        <td class="{{returnImageClass(item.correctanswer, item.useranswer)}}" style="width: 7%;">
          <div class="{{returnImageClass(item.correctanswer, item.useranswer)}}"></div>

        </td>
        <td>
          <h2>{{item.question}} </h2>
          <ul>
            <li *ngFor="let opt of item.options" class="{{returnClass(item.correctanswer, item.useranswer, opt.sortorder)}}">{{opt.value}}
            </li>
          </ul>
        </td>
      </tr>
    </div>

  </table>

</div>